<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Привет!</h1>
    <p>
      Ваш триггер на <%= @trigger.currency_operation_type %> из <%= @trigger.from_currency.name %> в <%= @trigger.to_currency.name %> стал <%= @trigger.comparison %> чем <%= @trigger.overstep_value %><br>
    </p>
  </body>
</html>
