<div class="row">
    <% @last_exchanges.each do |ex| %>
    <% avg_sell = @avgs_per_day[ex.from_currency_id]['avg_sell'] %>
    <% avg_buy = @avgs_per_day[ex.from_currency_id]['avg_buy'] %>
    <div class="span5">
        <h2 class="rate">
            <div class="rate-info rate-info-buy">продажа</div>
            <div class="rate-info rate-info-sell">покупка</div>
            <div class="rate-value">
                <%= ex.from_currency.name %>
                <span id="sell"><%= "%0.2f" % ex.sell %></span>
                /
                <span id="buy"><%= "%0.2f" % ex.buy %></span>
                <span class="rub">&#8381</span>
            </div>
        </h2>
        <p>
            <b>Среднее за день:</b>
              <%= "%0.2f" % avg_sell %> руб./
              <%= "%0.2f" % avg_buy %> руб.<br>
              <b>Спред:</b>
              <%= "%0.2f" % (ex.sell - ex.buy) %> руб.
                (<%= ((ex.sell - ex.buy)/ex.sell * 100).round %>%)<br>
            <b>Прогноз:</b>
              <% if ( avg_sell - ex.sell) > 0 %>
                <span class="green"><%= "+" + "%0.2f" % (avg_sell - ex.sell) %></span>
              <% else %>
                <span class="red"><%= "%0.2f" % (avg_sell - ex.sell) %></span>
              <% end %>
                руб. /
              <% if ( avg_buy - ex.buy) > 0 %>
                <span class="green"><%= "+" + "%0.2f" % (avg_buy - ex.buy) %></span>
              <% else %>
                <span class="red"><%= "%0.2f" % (avg_buy - ex.buy) %></span>
              <% end %>
                руб.
        </p>
    </div>
    <% end %>
</div>
