<div class="span7">
    <h2 class="center">
        Создать триггер
    </h2>

    <form id="trigger_form" class="well form-horizontal" method="post" action="javascript:void(null);">
        <div>
            <select class="span2 form-field-margin" name="currency_operation_type">
                <option value="buy">покупка</option>
                <option value="sell">продажа</option>
            </select>
            <select class="span2 form-field-margin" name="from_currency">
                <% @currencies.each do |cur| %>
                <option value="<%= cur.id %>"><%= cur.name %></option>
                <% end %>
            </select>
            <select class="span2 form-field-margin" name="comparison">
                <option value="lt">меньше</option>
                <option value="gt">больше</option>
            </select>

            <div class="input-append form-field-margin">
                <input name="rub" class="span2" type="number" size="3" min="30" max="100" value="63">
                <span class="add-on">руб</span>
            </div>
            <div class="input-append form-field-margin">
                <div class="input-group input-group-sm">
                    <input name="kop" class="span2" type="number" step="10" size="2" min="0" max="99" value="00">
                    <span class="add-on">коп.</span>
                </div>
            </div>
            <div class="input-prepend form-field-margin">
                <span class="add-on">@</span>
                <input name="email" class="span3" type="email" required="" placeholder="Email" value="">
            </div>
            <input type="submit" class="btn trigger-button btn-danger span2 form-field-margin" name="submit" value="Создать триггер">
        </div>
    </form>
    <div id="save-notification" class="alert" style="display: none;"></div>
</div>
