<div class="span4">
    <span class="nowrap">
        <h2>
            Ваши триггеры
            <i class="icon-refresh triggers-list-update" title="Обновить список"></i>
        </h2>
    </span>

    <div ><ol class="triggers-list">

    </ol></div>
    <img src="assets/img/ajax-loader.gif" class="ajax-loader" style="display: none;" />

</div>
