<% case trigger.currency_operation_type %>
   <% when 'buy' %>
     <% operation = 'Покупка' %>
   <% when 'sell' %>
     <% operation = 'Продажа' %>
   <% end %>

   <% case trigger.comparison %>
   <% when 'lt' %>
     <% comparison = 'меньше' %>
   <% when 'gt' %>
     <% comparison = 'больше' %>
   <% end %>

<li>
  <i data-id="<%= trigger.id %>" class="icon-remove destroy-trigger" title="Удалить триггер"></i><%= operation %>
  <%= trigger.from_currency.name %> <%= comparison %> <%= trigger.overstep_value %> рублей
  <br>
  <small class="text-muted">на e-mail: <%= trigger.email %></small>
</li>
