<header class="main-header">
    <h1>Статистика от Тинькофф</h1>
</header>

<div class="container">
    <%= render('exchanges') %>
    <div class="row">
        <%= render('trigger_form') %>
        <%= render('triggers_list') %>
    </div>
</div>
