.rate {
    position: relative;
    &-info {
        font-size: 12px;
        position: absolute;
        top: -25px;
        color: #aaa;
        &-buy {
            left: 85px;
        }
        &-sell {
            left: 190px;
        }
    }
}
