h2 {
    font-size: 30px;
}
small {
    font-size: 85%;
}
.main-header {
    text-align: center;
    margin-bottom: 30px;
}
.center {
    text-align: center;
}
.text-muted {
    color: #777;
}
.span5 {
    min-width: 300px;
}
.green {
    color: green;
}
.red {
    color: red;
}
.nowrap {
    white-space: nowrap;
}
