.triggers-list {
    li {
        border-bottom: 1px dashed #eee;
        .destroy-trigger {
            float: right;
            margin-top: 5px;
            cursor: pointer;
        }
    }
    &-update {
        cursor: pointer;
    }
}
.ajax-loader {
    display: block;
    margin-left: 100px;
}
