<!DOCTYPE html>
<html>
<head>
  <title>Tinkoffstat</title>
  <link href="assets/css/styles.css" rel="stylesheet">
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/bundle.js"></script>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
